<div class="d-flex justify-content-start align-items-center">
    <div class="d-inline-flex flex-column w-100">
        <input #autocompleteInput class="text-input w-100" [ngClass]="[!didValueMatchRestrictions()? 'invalid-field': '', !value ? 'eidt-subline' : '']" [disabled]="isDisabled"
            [matAutocomplete]="auto" (focus)="onFocus($event)" [(ngModel)]="value" (ngModelChange)="checkValue()">
        <span *ngIf="!didValueMatchRestrictions()" class="mx-1 text-danger">
            <fa-icon [icon]="icons.invalid"></fa-icon>
            Campo NO valido!
        </span>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let element of filteredData" [value]="element.value">
                <span>{{ element.value }}</span>
            </mat-option>
        </mat-autocomplete>
    </div>

</div>