<div [ngClass]="[padding ? 'text-center' : 'p-3']">
    <form class="form-signin w-100 m-auto" [formGroup]="changePswForm" (submit)="onSubmit()">
        <h5 class="h5 mb-3 fw-normal">Cambiar contraseña</h5>
        <p *ngIf="firstTime" class="text-muted">Como es la primera vez que inicias sesión debes cambiar tu contraseña</p>

        <div *ngIf="!recoveryCode" class="input-group  mt-2">
            <div class="form-floating">
                <div class="input-group"></div>
                <input [type]="showOldPassword? 'text' : 'password'" class="fs-6 form-control" formControlName="oldPassword"
                    [ngClass]="[isInvalidField('oldPassword')?'is-invalid':'']">
                <label class="fs-8" for="floatingPassword">Contraseña actual</label>
            </div>
            <div class="input-group-text">
                <a role="button" (click)="showOldPassword = !showOldPassword"><fa-icon [icon]="icons.show"></fa-icon></a>
            </div>
        </div>

        <div class="input-group  mt-2">
            <div class="form-floating">
                <div class="input-group"></div>
                <input [type]="showNewPassword? 'text' : 'password'" class="fs-6 form-control" formControlName="newPassword"
                    [ngClass]="[isInvalidField('newPassword')?'is-invalid':'']">
                <label class="fs-8" for="floatingPassword">Nueva Contraseña</label>
            </div>
            <div class="input-group-text">
                <a role="button" (click)="showNewPassword = !showNewPassword"><fa-icon [icon]="icons.show"></fa-icon></a>
            </div>
        </div>

        <div class="mt-2">
            <span *ngIf="!matchPattern('newPassword')" class="text-danger password-pattern-info">
                <p>
                    La contraseña debe contener al menos un número, una letra mayuscula, una letra minúscula, un caracter especial ! # $ % & / y debe tener una lóngitud mínima de 6
                </p>
            </span>
        </div>


        <div class="input-group  mt-2">
            <div class="form-floating">
                <div class="input-group"></div>
                <input [type]="showConfirmNewPassword? 'text' : 'password'" class="fs-6 form-control" formControlName="confirmNewPassword"
                    [ngClass]="[isInvalidField('confirmNewPassword')?'is-invalid':'']">
                <label class="fs-8" for="floatingPassword">Contirmar contraseña</label>
            </div>
            <div class="input-group-text">
                <a role="button" (click)="showConfirmNewPassword = !showConfirmNewPassword"><fa-icon [icon]="icons.show"></fa-icon></a>
            </div>
        </div>

        <div class="mt-2">
            <span *ngIf="!matchPasswords()" class="text-danger password-pattern-info">
                <p>
                    Las contraseñas no coinciden
                </p>
            </span>
        </div>

        <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Cambiar contraseña</button>

    </form>
</div>
