.control-label {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.config-field-menu {
    color: gray;
    cursor: pointer;
}

.button-tool {
    width: 2rem;
    padding: 0.1rem;
    color: var(--bs-tertiary-color);
    background-color: transparent;
    border-color: var(--bs-tertiary-color);
}

.btn.btn-light {
    color: var(--bs-tertiary-color);
    background-color: transparent;
    border-color: var(--bs-tertiary-color);
}

.btn.btn-light:hover, .button-tool:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

.form-group img {
    max-height: 6rem;
}

.img-gallery {
    overflow-x: auto;
}

.img-gallery img {
    max-height: 40rem;
}

.form-group img {
    max-height: 15rem;
}