.control-label {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.config-field-menu {
    color: gray;
    cursor: pointer;
}

.button-tool {
    width: 2rem;
    padding: 0.1rem;
}

.form-group img {
    max-height: 6rem;
}

.img-gallery {
    overflow-x: auto;
}

.img-gallery img {
    max-height: 40rem;
}

.form-group img {
    max-height: 15rem;
}