<div class="card p-2 m-2 form-group">
    <label class="my-1 control-label">
        <div>
            {{column.columnName}}
        </div>
        <div [showIfIsAdmin]="module" [showIfIsOwner]="module" class="config-field-menu">
            <fa-icon [icon]="icons.cog"></fa-icon>
        </div>
    </label>
    <div class="image-tools d-flex justify-content-end">

        <div *ngIf="imageUrl">
            <button #uploadImageButton class="button-tool btn btn-danger mx-1" (click)="deleteImg($event,imagePos)">
                <fa-icon [icon]="icons.delete"></fa-icon>
            </button>
        </div>

        <div *ngIf="device !== 'web'">
            <!-- <eq-image-uploader [uploadButton]="uploadImageButton" ></eq-image-uploader> -->
            <button #uploadImageButton class="button-tool btn btn-light mx-1" (click)="switchToCameraMode($event)">
                <fa-icon [icon]="icons.camera"></fa-icon>
            </button>
        </div>

        <div *ngIf="device === 'web'">
            <eq-file-uploader [files]="images" (filesChange)="appendImagesChange($event)"
                [uploadButton]="uploadButton"></eq-file-uploader>
            <button #uploadButton class="button-tool btn btn-light mx-1" (click)="$event.preventDefault()">
                <fa-icon [icon]="icons.upload"></fa-icon>
            </button>
        </div>


    </div>
    <div class="img-container">
        <img [src]="imageDownloadEndpoint + imageUrl" alt="" width="100%" class="my-1">
        <eq-camera *ngIf="cameraMode" (filesChange)="onImagesChange($event)"
            (dissmiss)="cameraMode=!cameraMode"></eq-camera>
    </div>

    <div *ngIf="images.length !== 0" class="img-gallery d-flex">
        <div class="me-2 img-thumb" *ngFor="let img of images; let i=index" (click)="imageUrl=img;imagePos=i">
            <img height="30rem" [src]="imageDownloadEndpoint + img" alt="">
        </div>
    </div>
    <!-- <div class="inputUrl d-flex">
        <input [(ngModel)]="imageUrl" type="text" name="imageInput" class="mt-1 form-control"
            placeholder="http://url/imagen.jpg" autocomplete="off">
        <button role="button" class="mx-1 mt-1 btn btn-light" (click)="addImage($event, imageUrl)">
            <fa-icon [icon]="icons.addImage"></fa-icon>
        </button>
    </div> -->

</div>