.sidebar {
    min-width: 15rem;
    position: fixed;
    top: 5rem;
    bottom: 5rem;
    right: 0;
    z-index: 100;
    padding: 1rem;
    background-color: #f8f9fa;
    /* Scrollbar personalizado para la barra lateral */
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, .2) rgba(0, 0, 0, .1);
  }
  .sidebar::-webkit-scrollbar {
    width: .4rem;
  }
  .sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: .5rem;
  }
  .content {
    margin-right: 15rem;
    padding: 1rem;
  }