<div class="container d-flex flex-wrap justify-content-center justify-content-lg-start">
    <div class="grid-element card m-1" *ngFor="let item of data">
        <h5 class="align-items-center card-header mb-0 text-capitalize d-flex justify-content-between">{{item.label}}
            <a role="button" class="btn btn-outline-ligth px-2 py-1 mx-1" (click)="onConfigItem(item)">
                <fa-icon [icon]="icons.cogs"></fa-icon>
            </a>
        </h5>
        <div class="card-body">
            <p class="card-text text-muted">{{item.description}}</p>
            <div class="d-flex align-items-center justify-content-start">
                <a [routerLink]="linkGetterFuntion(item.name)" class="btn btn-outline-secondary px-2 py-1">
                    <fa-icon [icon]="icons.edit"></fa-icon>
                </a>
                <a role="button" class="btn btn-outline-danger px-2 py-1 mx-1" (click)="onDeleteItem(item.name)">
                    <fa-icon [icon]="icons.delete"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>