<div *ngIf="loading">
    <eq-loading></eq-loading>
</div>
<div class="text-center">
    <form class="form-signin w-100 m-auto" [formGroup]="signupForm" (submit)="onSubmit()">
        <div class="mb-4 brand text-center">
            <eq-logo></eq-logo>
        </div>
        <h5 class="h5 mb-3 fw-normal">Crear una nueva cuenta</h5>

        <div class="form-floating">
            <input type="email" class="fs-8 form-control" formControlName="email"
                [ngClass]="[isInvalidField('email')?'is-invalid':'']">
            <label class="fs-8" for="floatingInput">E-mail</label>
        </div>
        <p *ngIf="isInvalidField('email')" class="invalid-text text-danger">Debe ingresar un correo válido</p>

        <div class="form-floating mt-2">
            <input type="text" class="fs-8 form-control" formControlName="name"
                [ngClass]="[isInvalidField('name')?'is-invalid':'']">
            <label class="fs-8" for="floatingInput">Nombre</label>
        </div>
        <p *ngIf="isInvalidField('email')" class="invalid-text text-danger">Campo requerido</p>


        <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Crear cuenta</button>

        <a href="/auth/login" class="nav-link">¿Ya tienes cuenta? Inicia sesión</a>
    </form>
</div>


<ng-template #modalError let-modal>
    <eq-error [errorMessage]="errorMessage" (close)="closeModal()"></eq-error>
</ng-template>

<ng-template #modalSuccess let-modal>
    <eq-success [message]="successMessage" (close)="closeModal()" [linkMessage]="'Iniciar sesión'" [link]="'/auth/login'"></eq-success>
</ng-template>