<div class="album py-3">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div *ngFor="let img of images; let i = index" class="col">
                <div class="card shadow-sm">
                    <img [src]="downloadUrl+img" alt="'imagen'" width="100%" (click)="goToImage(img)"
                        (load)="setImgLoaded(i)">
                    <div *ngIf="isLoading(i)">
                        <eq-loading [position]="'absolute'"></eq-loading>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div *ngIf="!disabled" class="btn-group">
                                <div *ngIf="device!=='web'">
                                    <button #uploadImageButton type="button" class="btn btn-sm btn-outline-secondary">
                                        <fa-icon [icon]="icons.edit"></fa-icon>
                                    </button>
                                    <eq-image-uploader [multiple]="false" [uploadButton]="uploadImageButton"
                                        (filesChange)="changeImg($event, i)" [files]="[]"></eq-image-uploader>
                                </div>

                                <div *ngIf="device==='web'">
                                    <eq-file-uploader [multiple]="false" [uploadButton]="uploadFileButton"
                                        (filesChange)="changeImg($event, i)" [files]="[]"></eq-file-uploader>
                                    <button #uploadFileButton type="button" class="btn btn-sm btn-outline-secondary">
                                        <fa-icon [icon]="icons.edit"></fa-icon>
                                    </button>

                                </div>
                                <button type="button" class="btn btn-sm btn-outline-danger"
                                    (click)="deleteFile(img, i)">
                                    <fa-icon [icon]="icons.delete"></fa-icon>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr *ngIf="!disabled" class="hr" />
    <div class="d-inline-flex w-100" *ngIf="!disabled">
        <div class="buttons d-flex justify-content-between align-items-center w-100 p-3">
            <button #buttonAddImage type="button" class="btn btn-success d-flex align-items-center rounded-circle"
                (click)="startCamera()">
                <fa-icon [icon]="icons.add"></fa-icon>
            </button>
        </div>
        <eq-file-uploader *ngIf="device ==='web'" (onError)="showErrorModal($event)" accept="image/*" [multiple]="true" [uploadButton]="buttonAddImage"
            [files]="[]" (filesChange)="addImage($event)"></eq-file-uploader>
        <div class="buttons d-flex justify-content-between align-items-center w-100 p-3">
            <button #buttonAddImage type="button" class="btn btn-primary d-flex align-items-center"
                (click)="saveChanges()">
                Guardar Cambios
            </button>
        </div>
    </div>

</div>

<eq-camera *ngIf="cameraActive && device !=='web'" (dissmiss)="cameraActive = false"
    (filesChange)="onFilesAdded($event)"></eq-camera>


<ng-template #modalError let-modal>
    <eq-error [errorMessage]="errorMessage" (close)="modal.close()"></eq-error>
</ng-template>