span {
    max-width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-pills, .nav-link {
    padding-right: 0!important;
}

a.menu-item.nav-link {
    font-size: small;
} 

fa-icon {
    color: var(--bs-gray);
}