<div *ngIf="loading">
    <eq-loading></eq-loading>
</div>

<eq-breadcrumb [linkGetterFuntion]="getLinkFunction" [module]="module" [mainRoute]="mainRoute"></eq-breadcrumb>

<eq-buttons-pad [buttonsList]="buttonsList" (_newRow)="openCreateModal()"
    (_addFolder)="openCreateFolder()" (_addForm)="openCreateEntity('form')" (_addMap)="openCreateEntity('map')"></eq-buttons-pad>
<eq-grid-view [data]="data" (delete)="openDeleteModal($event)"
    (configItem)="openCustomizerTable($event)" [moduleName]="module"></eq-grid-view>

<!-- Customize Table -->
<ng-template #customizeTable let-modal>
    <div class="m-0 modal-dialog mw-100">
        <div class="modal-content">
            <div class="modal-header px-3 py-2">
                <h5 class="modal-title m-0" id="exampleModalLabel">Configurar elemento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <eq-table-customizer [(tableData)]="tableData" [module]="module"
                    (tableDataChange)="onCustomizeTable($event)"></eq-table-customizer>
            </div>
        </div>
    </div>
</ng-template>

<!-- Form Table -->
<ng-template #createTable let-modal>
    <div class="m-0 modal-dialog mw-100">
        <div class="modal-content">
            <div class="modal-header px-3 py-2">
                <h5 class="modal-title m-0" id="exampleModalLabel">Crear nueva tabla</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <form (submit)="createNewTable()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="text" class="form-control" placeholder="" name="newModule"
                            [(ngModel)]="newTableName">
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Crear tabla</button>
                </form>
            </div>
        </div>
    </div>
</ng-template>


<!-- Form delete table -->
<ng-template #deleteTable let-modal>
    <div class="m-0 modal-dialog mw-100">
        <div class="modal-content">
            <div class="modal-header px-3 py-2">
                <h5 class="modal-title m-0" id="exampleModalLabel">Eliminar item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <form (submit)="deleteCurrentTable()">
                    <div class="form-group">
                        <p for="exampleInputEmail1">Está a punto de eliminar la tabla o folder <b
                                class="text-danger">{{currentTable}}</b>, para confirmar digite <b>{{currentTable}}</b>
                            en la caja de texto</p>
                        <input type="text" class="form-control" placeholder="" name="newModule"
                            [(ngModel)]="confirmDeleteTableText" autocomplete="off">
                    </div>
                    <hr>
                    <button [disabled]="currentTable!==confirmDeleteTableText" type="submit"
                        class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<!-- Error -->
<ng-template #modalError let-modal>
    <eq-error [errorMessage]="errorMessage" (close)="closeModal()"></eq-error>
</ng-template>


<!-- Create Folder -->
<ng-template #createFolder let-modal>
    <div class="m-0 modal-dialog mw-100">
        <div class="modal-content">
            <div class="modal-header px-3 py-2">
                <h5 class="modal-title m-0" id="exampleModalLabel">Crear nuevo folder</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <form (submit)="createNewFolder()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="text" class="form-control" placeholder="" name="newModule"
                            [(ngModel)]="newFolderName">
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Crear folder</button>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<!-- Create Entity -->
<ng-template #createEntity let-modal>
    <div class="m-0 modal-dialog mw-100">
        <div class="modal-content">
            <div class="modal-header px-3 py-2">
                <h5 class="modal-title m-0" id="exampleModalLabel">Crear nueva vista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <form (submit)="createNewEntity()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="text" class="form-control" placeholder="" name="newModule"
                            [(ngModel)]="newEntity.name">
                        <div class="mt-2" columnSelector [hideColumnLevel]="true" (tableChange)="tableSelectorChange($event)" (moduleChange)="moduleSelectorChange($event)"></div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </div>
</ng-template>