<div class="side-bar-header">
    <div class="side-bar-toggler">
        <button class="btn" (click)="toggleSideBar()" (blur)="hideSideBar()">
            <fa-icon [icon]="icons.bars"></fa-icon>
        </button>
    </div>
    <div class="side-bar-brand">
        <img src="../../../../assets/logo/logo_white_bg.png" alt="">
    </div>
</div>
<div #sideBarWrapper class="side-bar-wrapper">
    <div class="side-bar-content">
        <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
    </div>    
</div>

