.navbar-nav{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-nav li {
    margin-left: 5%;
    margin-right: 2.5%;
    min-width: 3rem;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    left: 0;
    z-index: 10;
    background-color: var(--bs-body-bg);
    box-shadow: -10px 3px 14px 0px var(--bs-primary-bg-subtle);
}

.profile-img img{
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
}

.profile-item{
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-img:hover{
    cursor: pointer;
}

.dropdown-toggle{
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin-right: 0.5rem;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    right: 10px;
    left: -144px;
}