<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-flex align-items-center">
            <a class="nav-link" href="/">
                Inicio
            </a>
        </li>
        <li class="nav-item d-none d-sm-flex align-items-center">
            <a class="nav-link" href="/docs">
                Documentación
            </a>
        </li>
        <li *ngIf="checkMapsPluggin()" class="nav-item d-none d-sm-flex align-items-center">
            <a class="nav-link" href="/maps">
                Mapa
            </a>
        </li>
        <li class="profile-item nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                <div class="nav-profile">
                    <div class="profile-img">
                        <img src="{{getProfileImage()}}"
                            alt="">
                    </div>
                </div>
            </a>
            <ul class="dropdown-menu">
                <li class="d-flex justify-content-between align-items-center">
                    <a class="dropdown-item" role="button" (click)="switchTheme()">
                        {{getTheme()}}
                        <fa-icon class="mx-2" [icon]="theme !== 'light' ? icons.lightTheme : icons.darkTheme"></fa-icon>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" role="button" (click)="openUserCustomizer()">Perfil</a></li>
                <li><a class="dropdown-item" role="button" (click)="loguot()">Cerrar sesión</a></li>
            </ul>
        </li>
    </ul>
</nav>


<!-- User Modal -->
<ng-template #userModal let-modal>
    <div class="m-0 modal-dialog mw-100">
        <div class="modal-content">
            <div class="modal-header px-3 py-2">
                Perfil de Usuario
            </div>
            <div class="modal-body">
                <eq-user-profile></eq-user-profile>
            </div>
        </div>
    </div>
</ng-template>