<form div *ngIf="columnData!==undefined" class="p-5" (submit)="onSubmit()">

    <input type="hidden" class="form-control mb-3" [(ngModel)]="columnData._id" [name]="'id'">
  
    <label class="form-label mb-3">Nombre de columna</label>
    <input type="text" class="form-control mb-3" [(ngModel)]="columnData.columnName"
      [name]="'fieldName'">
  
    <label class="form-label mb-3">Nombre de tabla</label>
    <input type="text" [disabled]="true" class="form-control mb-3" [value]="columnData.table">
  
    <label class="form-label mb-3">Nombre de módulo</label>
    <input type="text" [disabled]="true" class="form-control mb-3" [value]="columnData.module">
  
    <label class="form-label mb-3">Tipo de columna</label>
    <select class="form-select mb-3" [(ngModel)]="columnData['type']" name="typeColumn" [disabled]="columnData.isRestricted">
      <option *ngFor="let columnType of COLUMN_TYPES" [selected]="columnType===columnData.type">
        {{columnType}}
      </option>
    </select>
  
    <input class="form-check-input mb-3" type="checkbox" [(ngModel)]="columnData.isRestricted" [name]="'restricted'" (change)="searchModules()">
    <label class="form-check-label mb-3">
      Aplicar restricción
    </label>
  
    <div class="card p-2 mb-3" *ngIf="columnData.isRestricted">
  
      <label class="form-label mb-3">Módulo</label>
      <select class="form-select mb-3" name="restrictedModule" [(ngModel)]="columnData.moduleRestriction"
        (change)="changeModule()">
        <option *ngIf="!columnData.moduleRestriction"></option>
        <option *ngFor="let module of modulesForRestriction">
          {{module.name}}
        </option>
      </select>
  
      <div *ngIf="tablesForRestriction.length !== 0">
        <label class="form-label mb-3">Tabla</label>
        <select class="form-select mb-3" name="restrictedTable" [(ngModel)]="columnData.tableRestriction"
          (change)="searchColumns()">
          <option *ngIf="!columnData.tableRestriction"></option>
          <option *ngFor="let table of tablesForRestriction">
            {{table.name}}
          </option>
        </select>
      </div>
  
      <div *ngIf="columnsForRestriction.length !== 0">
        <label class="form-label mb-3">Columna</label>
        <select class="form-select mb-3" name="restrictedColumn" [(ngModel)]="columnData.columnRestriction">
          <option *ngIf="!columnData.columnRestriction"></option>
          <option *ngFor="let column of columnsForRestriction" [value]="column._id">
            {{column.columnName}}
          </option>
        </select>
      </div>
  
    </div>
  
    <label for="customRange1" class="form-label w-100">
      <div class="d-flex justify-content-between align-items-center w-100">
        <div>Ancho</div>
        <div>
          <input type="number" class="width-viewer w-50" [(ngModel)]="columnData.width" name="widthfield">
        </div>
      </div>
    </label>
  
    <input type="range" class="form-range" [(ngModel)]="columnData.width" [name]="'width'" min="30">
  
    <input class="form-check-input mb-3" type="checkbox" [(ngModel)]="columnData.required" [name]="'required'">
    <label class="form-check-label mb-3">
      Obligatorio
    </label>
  
    <input class="form-check-input mb-3" type="checkbox" [(ngModel)]="columnData.hidden" [name]="'hidden'">
    <label class="form-check-label mb-3">
      Oculto
    </label>
  
    <input class="form-check-input mb-3" type="checkbox" [(ngModel)]="columnData.unique" [name]="'hidden'">
    <label class="form-check-label mb-3">
      Valor único 
      <fa-icon [eqTooltip]="uniqueRestrictionMessage" [eqTooltipWidth]="'16rem'"  class="text-warning" [icon]="icons.alert">
  
      </fa-icon>
    </label>
  
    <hr>
  
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  
  </form>
