<ng-container *ngIf="isRestricted then restrictedFieldTemplate; else unrestrictedFieldTemplate"></ng-container>


<ng-template #restrictedFieldTemplate>
    <eq-autocomplete [editable]="editable" [ngClass]="[!value ? 'eidt-subline' : '']" [data]="dataRestrictions" [(value)]="value" (valueChange)="onChangeByRestricted($event)" (onListChange)="listChange($event)" [isDisabled]="isDisabled" [restriction]="restriction"></eq-autocomplete>
</ng-template>


<ng-template #unrestrictedFieldTemplate>
    <input class="w-100" [ngClass]="[!value ? 'eidt-subline' : '']" type="text" [(ngModel)]="value" [disabled]="isDisabled || !editable" (change)="onChangeByText($event)">
</ng-template>