<div *ngIf="moduleData===undefined">
  <eq-loading></eq-loading>
</div>

<div *ngIf="moduleData">
	<ul ngbNav #navVertical="ngbNav" class="nav nav-tabs nav-left" [destroyOnHide]="false">
		<li ngbNavItem [ngbNavItem]="0">
			<a ngbNavLink>
				General
			</a>
			<ng-template ngbNavContent>
        <eq-module-customizer-general [(moduleData)]="moduleData" (moduleDataChange)="onModuleCustomize($event)"></eq-module-customizer-general>
			</ng-template>
		</li>
		<li ngbNavItem [ngbNavItem]="1">
			<a ngbNavLink>
				Permisos
			</a>
			<ng-template ngbNavContent>
				<eq-module-permissions [moduleData]="moduleData" (moduleOperationEnd)="onModuleCustomize($event)"></eq-module-permissions>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="navVertical">
	</div>
</div>
