<form [ngStyle]="{'padding':padding}" *ngIf="columns" class="fields" (submit)="onSubmit()" [formGroup]="form">
    <div #DnDContainer class="fields-container d-flex w-100">
        <div *ngFor="let column of columns; let i = index" class="field d-flex align-items-center"
            [style.width]="getWidth(column)" eqDrag [eqDragKey]="column._id" [(eqDropTarget)]="columnsJson"
            [(ddOrder)]="column.formOrder">
            <div [ngSwitch]="column.type" class="draggable-card">
                <div *ngSwitchCase="COLUMN_TYPES_ENUM.string">
                    <div class="m-2 form-group">
                        <label class="my-1 control-label">
                            <div>
                                {{column.columnName}}
                            </div>
                            <div [showIfIsAdmin]="module" [showIfIsOwner]="module" class="config-field-menu">
                                <fa-icon [icon]="icons.cog"></fa-icon>
                            </div>
                        </label>
                        <ng-container
                            *ngIf="column.isRestricted; then autocompleteTmpl; else normalStrTmpl"></ng-container>
                        <ng-template #autocompleteTmpl>
                            <eq-field-renderer [restriction]="getRestrictionByColumnId(column._id)"
                                [value]="form.controls[column._id].value" [column]="column"
                                [restrictions]="getAutoCompleteData(column._id)"
                                (onListChange)="onRestricetedValueChange($event, column._id)"></eq-field-renderer>
                        </ng-template>
                        <ng-template #normalStrTmpl>
                            <input type="text" class="form-control" placeholder="" formControlName="{{column._id}}">
                        </ng-template>
                    </div>
                </div>

                <div *ngSwitchCase="COLUMN_TYPES_ENUM.date">
                    <div class="m-2 form-group">
                        <label class="my-1 control-label">
                            <div>
                                {{column.columnName}}
                            </div>
                            <div [showIfIsAdmin]="module" [showIfIsOwner]="module" class="config-field-menu">
                                <fa-icon [icon]="icons.cog"></fa-icon>
                            </div>
                        </label>
                        <input [style.colorScheme]="getColorScheme()" type="datetime-local" class="form-control"
                            placeholder="" formControlName="{{column._id}}">
                    </div>
                </div>

                <div *ngSwitchCase="COLUMN_TYPES_ENUM.number">
                    <div class="m-2 form-group" *ngIf="!column.hasFormula">
                        <label class="my-1 control-label">
                            <div>
                                {{column.columnName}}
                            </div>
                            <div [showIfIsAdmin]="module" [showIfIsOwner]="module" class="config-field-menu">
                                <fa-icon [icon]="icons.cog"></fa-icon>
                            </div>
                        </label>
                        <input type="number" class="form-control" placeholder="" formControlName="{{column._id}}">
                    </div>
                </div>


                <div *ngSwitchCase="COLUMN_TYPES_ENUM.file">
                    <div class="m-2 form-group">
                        <label class="my-1 control-label">
                            <div>
                                {{column.columnName}}
                            </div>
                            <div [showIfIsAdmin]="module" [showIfIsOwner]="module" class="config-field-menu">
                                <fa-icon [icon]="icons.cog"></fa-icon>
                            </div>
                        </label>
                        <eq-file-field [(files)]="this.imagesFormData[column._id]"></eq-file-field>
                    </div>
                </div>


                <div *ngSwitchCase="COLUMN_TYPES_ENUM.image">
                    <eq-img-field [column]="column" [module]="module"
                        [(images)]="this.imagesFormData[column._id]"></eq-img-field>
                </div>

                <div *ngSwitchCase="'boolean'">
                    <div class="form-check m-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            formControlName="{{column._id}}">
                        <label class="form-check-label control-label" for="flexCheckDefault">
                            <div>
                                {{column.columnName}}
                            </div>
                            <div [showIfIsAdmin]="module" [showIfIsOwner]="module" class="config-field-menu">
                                <fa-icon [icon]="icons.cog"></fa-icon>
                            </div>
                        </label>
                    </div>
                </div>

                <div *ngSwitchCase="COLUMN_TYPES_ENUM.list">
                    <div class="m-2 form-group">
                        <label class="form-check-label my-1 control-label">
                            <div>
                                {{column.columnName}}
                            </div>
                            <div [showIfIsAdmin]="module" [showIfIsOwner]="module" class="config-field-menu">
                                <fa-icon [icon]="icons.cog"></fa-icon>
                            </div>
                        </label>
                        <eq-list-field [listData]="listFormData[column._id]"></eq-list-field>
                    </div>
                </div>

                <div *ngSwitchCase="COLUMN_TYPES_ENUM.table">
                    <div *ngIf="column.linkedTable" class="m-2 form-group">
                        <label class="form-check-label my-1 control-label">
                            <div class="font-weight-bold">
                                {{column.columnName}}
                            </div>
                            <div id="successtextconf"
                                *ngIf="subtableFormData[column._id] && subtableFormData[column._id].length !==0"
                                class="ms-2 text-success fade-out">
                                (Tabla guardada correctamente)
                            </div>
                            <div [showIfIsAdmin]="module" [showIfIsOwner]="module" class="config-field-menu">
                                <fa-icon [icon]="icons.cog"></fa-icon>
                            </div>
                        </label>
                        <eq-subtable [showBreadCrumb]="false" [data]="getSubtableData(column)"
                            (rowsChange)="onSubtableChange($event, column)"></eq-subtable>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr class="hr" />
    <div *ngIf="hasError" class="my-3 text-danger">
        {{errorMessage}}
    </div>

    <div class="buttons d-flex justify-content-between align-items-center w-100">
        <button type="submit" class="btn btn-primary d-flex align-items-center" [disabled]="loading">
            <div *ngIf="loading" class="spinner-border mx-1 spinner" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span class="mx-1">Guardar Registro</span>
        </button>
        <div [showIfIsAdmin]="module" [showIfIsOwner]="module">
            <div ngbDropdown [container]="'body'">
                <button ngbDropdownToggle type="button" class="btn btn-primary d-flex align-items-center"
                    [disabled]="loading" (click)="submitConfiguration($event)">
                    <fa-icon [icon]="icons.cogs"></fa-icon>
                </button>
                <div ngbDropdownMenu class="drop-down-menu">
                    <button ngbDropdownItem (click)="updateColumns()">Guardar personalizacion del formulario</button>
                </div>
            </div>
        </div>
    </div>

</form>