<div class="alert mb-0">
    <button type="button" class="close-modal-error btn btn-outline-secondary" data-dismiss="alert"
        aria-hidden="true" (click)="closeModal()">
        ×</button>

        <h4 *ngIf="title"  class="h4 my-2">{{title}}</h4>
        <p *ngIf="message">{{message}}</p>

        <div class="form-floating">
            <input type="text" class="fs-8 form-control" [(ngModel)]="value">
            <label *ngIf="label" class="fs-8">{{label}}</label>
        </div>

        <div class="d-flex justify-content-center my-2">
            <button class="btn btn-primary mx-2" (click)="submitModal($event)">Aceptar</button>
            <button class="btn btn-outline-secondary mx-2" (click)="closeModal()">Cancelar</button>
        </div>

</div>
