<div *ngIf="tableData===undefined">
    <eq-loading></eq-loading>
</div>

<div *ngIf="tableData">
	<ul ngbNav #navVertical="ngbNav" class="nav nav-tabs nav-left" [destroyOnHide]="false">
		<li ngbNavItem [ngbNavItem]="0">
			<a ngbNavLink>
				General
			</a>
			<ng-template ngbNavContent>
                <eq-table-customizer-general [(tableData)]="tableData" (tableDataChange)="onTableChange($event)"></eq-table-customizer-general>
			</ng-template>
		</li>
		<li ngbNavItem [ngbNavItem]="1">
			<a ngbNavLink>
				Permisos
			</a>
			<ng-template ngbNavContent>
				<eq-table-permissions [module]="module" [tableData]="tableData" (tableOperationEnd)="onTableChange($event)"></eq-table-permissions>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="navVertical">
	</div>
</div>

