input {
    border-style: none;
    background-color: transparent;
    color: var(--bs-emphasis-color);
}

.eidt-subline {
    border-bottom: solid 0.1px var(--bs-border-color);
}

input:focus {
    border-style: none;
}

input:focus-visible {
    border-style: none;
    outline: none;
}

input:disabled {
    background-color: transparent;
}

.text-color {
    color: var(--bs-emphasis-color);
}