input {
    border-style: none;
    background-color: transparent;
    color: var(--bs-emphasis-color);
}

input:focus {
    border-style: none;
}

input:focus-visible {
    border-style: none;
    outline: none;
}

input:disabled {
    background-color: transparent;
}