<div *ngIf="columnData===undefined">
	<eq-loading></eq-loading>
</div>

<div class="nav-vertical" *ngIf="columnData">
	<ul ngbNav #navVertical="ngbNav" class="nav nav-tabs nav-left" [destroyOnHide]="false">
		<li ngbNavItem [ngbNavItem]="0">
			<a ngbNavLink>
				General
			</a>
			<ng-template ngbNavContent>
				<eq-general-attributes [columnData]="columnData" (columnOperationEnd)="onColumnOperationEnd()"></eq-general-attributes>
			</ng-template>
		</li>
		<li ngbNavItem [ngbNavItem]="1">
			<a ngbNavLink>
				Permisos
			</a>
			<ng-template ngbNavContent>
				<eq-permissions [columnData]="columnData" (columnOperationEnd)="onColumnOperationEnd()"></eq-permissions>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="navVertical">
	</div>
</div>