<div class="controls-container">
    <div class="card controls-wrapper">
        <div class="search-toolbar d-flex align-items-center">
            <!-- <input class="form-control" type="search" placeholder="Buscar">
            <button type="button" class="btn btn-outline-success" [eqTooltip]="'Buscar'" (click)="search()">
                <fa-icon [icon]="icons.search"></fa-icon>
            </button> -->
        </div>
        <div class="p-1 buttons-wrapper d-none d-md-block">
            <div *ngFor="let button of getActiveButtons()" class="button-div">
                <button *ngIf="!isDropDown(button)" type="button" [eqTooltip]="button.tooltip"
                    class="btn btn-outline-secondary" (click)="clickButton($event, button)">
                    <fa-icon [icon]="button.icon"></fa-icon>
                </button>

                <div *ngIf="isDropDown(button)" ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>
                        <fa-icon [icon]="button.icon"></fa-icon>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="p-2">
                        <a *ngFor="let option of getDropDownOptions(button)" role="button" ngbDropdownItem
                            class="d-flex nav-link text-secondary" (click)="clickButton($event, option)">
                            <div class="opt-icon">
                                <fa-icon [icon]="option.icon"></fa-icon>
                            </div>
                            <span class="mx-2">{{option.text}}</span>
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <div *ngIf="buttonsList.length !== 0" class="p-1 buttons-wrapper d-block d-md-none">
            <div class="dropdown">
                <button class="btn btn-outline-secondary" type="button" (click)="openModal()">
                    <fa-icon [icon]="icons.bars"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #buttonsModal let-modal>
    <div class="modal-dialog m-0" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="list-group">
                    <li *ngFor="let button of getActiveButtons()" class="list-group-item">
                        <a *ngIf="!isDropDown(button)" role="button" class="d-flex nav-link text-secondary" (click)="clickButton($event, button)">
                            <div class="opt-icon">
                                <fa-icon [icon]="button.icon"></fa-icon>
                            </div>
                            <span class="mx-2">{{button.text}}</span>
                        </a>

                        <div *ngIf="isDropDown(button)" ngbDropdown class="d-inline-block">
                            <a role="button" class="d-flex align-items-center nav-link text-secondary" ngbDropdownToggle>
                                <div class="opt-icon">
                                    <fa-icon [icon]="button.icon"></fa-icon>
                                </div>
                                <span class="mx-2">{{button.text}}</span>
                            </a>
                            <div ngbDropdownMenu class="p-2">
                                <a *ngFor="let option of getDropDownOptions(button)" role="button" ngbDropdownItem
                                    class="d-flex nav-link text-secondary" (click)="clickButton($event, option)">
                                    <div class="opt-icon">
                                        <fa-icon [icon]="option.icon"></fa-icon>
                                    </div>
                                    <span class="mx-2">{{option.text}}</span>
                                </a>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</ng-template>