<eq-maps-customize-panel [closePanel]="closeCustomPanel" (onInsertMarker)="insertMarker($event)" (onGetMapIcons)="getMapIcons($event)" (onGetMapElements)="getMapElements($event)"></eq-maps-customize-panel>
<eq-marker-info [openPanel]="openMarkerInfoPanel"></eq-marker-info>
<div id="map" [ngClass]="[insertMarkerByClick?'insert-marker':'']"></div>
<div *ngIf="!miniMapDisabled && device!=='web'" id="minimap" class="d-sm-block s-md-none"></div>

<div #contextMenu class="d-none">
        <button id="delete-marker" class="btn btn-danger d-none mb-2 w-100">Eliminar marcador</button>
		<button id="path-end" class="btn btn-primary d-none mb-2 w-100">Terminar</button>
</div>

<ng-template #confirmDeleteMarker let-modal>
	<eq-confirm-dialog [title]="'Eliminar marcador'" (submit)="onSubmitDeleteModal($event)"
		[message]="'Está seguro que desea elinar este marcador'" (close)="modal.close()"></eq-confirm-dialog>
</ng-template>