.recovery-wrapper, .error-wrapper {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.recovery-wrapper {
    width: 100%;
}

.brand {
  display: inline-flex;
  justify-content: center;
}

.text-center {
    padding: 3% 35%;
  }

  @media (max-width: 1200px) {
    .text-center {
        padding: 3% 30%;
      }
      form img {
        width: 300px!important;
    }
  }


  @media (max-width: 750px) {
    .text-center {
        padding: 3% 12%;
      }
    form img {
        width: 180px!important;
    }
  }

