<div *ngIf="loading">
  <eq-loading></eq-loading>
</div>
<div class="recovery-wrapper" [ngClass]="[error || expired? 'text-center' : '']">
  <div class="d-flex justify-content-center">
    <img class="mb-4" src="../../../assets/logo/logo_white_bg.png" alt="" width="340">
  </div>
  <div class="error-wrapper" *ngIf="error; else expiredBlock">
    <div class="error-message alert alert-danger">
      No tiene acceso a esta url
    </div>
    <a class="menu-link" routerLink="/auth/login">
      Volver al inicio
    </a>
  </div>
  <ng-template #expiredBlock>
    <div class="error-wrapper" *ngIf="expired; else successBlock">
      <div class="error-message alert alert-danger">
        El codigo de recuperación ha expirado
      </div>
      <a class="menu-link" routerLink="/auth/login">
        Volver al inicio
      </a>
    </div>
    <ng-template #successBlock>
      <eq-change-password [firstTime]="false" [recoveryCode]="recoveryCode" [email]="email" (onSuccess)="changePaswSuccess($event)" (onFail)="changePaswFailed($event)" (onSubmitModal)="loading=true"></eq-change-password>
    </ng-template>
  </ng-template>
</div>

<ng-template #modalError let-modal>
  <eq-error [errorMessage]="errorMessage" (close)="closeModal()"></eq-error>
</ng-template>

<ng-template #modalSuccess let-modal>
  <eq-success [message]="successMessage" (close)="closeModal()" [link]="'/auth/login'" [linkMessage]="'Iniciar sesión'" [timmer]="5" [timmerFunction]="timeoutSuccesModal"></eq-success>
</ng-template>