<div *ngIf="loading">
  <eq-loading></eq-loading>
</div>
<eq-breadcrumb *ngIf="showBreadCrumb" [module]="getModule()"></eq-breadcrumb>
<div class="d-inline-flex justify-content-end w-100">
  <span *ngIf="showBackButton && getBackUrlType() === 'string'  && backUrl" class="badge bg-secondary">
    <a class="nav-link" [routerLink]="getBackUrlAsString()" (click)="onGetBack()">
      <fa-icon [icon]="icons.back"></fa-icon>
      Regresar
    </a>
  </span>
  <span *ngIf="showBackButton && getBackUrlType() !== 'string' && backUrl" class="badge bg-secondary">
    <a role="button" class="nav-link" (click)="executeBackUrlFcn()">
      <fa-icon [icon]="icons.back"></fa-icon>
      Regresar
    </a>
  </span>
</div>
<eq-buttons-pad *ngIf="isEditable" [buttonsList]="['add', 'add-row', 'delete','save']" (_addEmptyRow)="createEmptyRow()"
  (_deleteRows)="deleteRows()" (_updateRows)="saveRows()" (_newRow)="addNewRow()"></eq-buttons-pad>
<eq-data-table (rowsSelectionChange)="rowsSelectionChange($event)"
  (openTableViewerEvent)="openTableViewer($event)"></eq-data-table>

