.spinner-grow {
  margin-left: 1rem;
}

.loading-container {
  position: fixed;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

.spinner-border {
  width: 6rem;
  height: 6rem;
  color: #92a0b26e;
}