.eq-tooltip {
  position: absolute;
  top: 110%;
  z-index: 100;
  opacity: 1;
  display: none;
  pointer-events: none;
  background-color: white;
  color: #6c757d;
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
  border: 1px solid #6c757d;
  font-size: small;
}

.full-width-modal {
  max-width: 90%;
}

/* You can add global styles to this file, and also import other style files */
.content {
    position: relative;
    z-index: -5;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d4d4d468;
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(163, 163, 163, 0.373);
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
