.eq-tooltip {
  // position: absolute;
  // top: 110%;
  z-index: 100;
  opacity: 1;
  display: none;
  pointer-events: none;
  background-color: var(--bs-body-bg);
  color: var(--bs-emphasis-color);
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
  border: 1px solid #6c757d;
  font-size: small;
  max-width: 20rem;
}

[data-bs-theme="dark"]{
  input, textarea {
    color-scheme: dark;
  }

  ::-webkit-scrollbar-track {
    background: rgb(53 58 63)!important;
  }
}


.mdc-menu-surface.mat-mdc-autocomplete-panel {
  background-color: var(--bs-body-bg);
}

.mdc-list-item__primary-text{
  color: var(--bs-emphasis-color);
}

.mdc-list-item--selected .mdc-list-item__primary-text, .mdc-list-item--activated .mdc-list-item__primary-text {
  color: var(--bs-emphasis-color);
}

.full-width-modal {
  max-width: 90%;
}

.camera-backdrop {
  background-color: aqua;
}

.placeholder-widget {
  background-color: var(--bs-body-bg);
  border: 1px solid #ccc;
  padding: 0px 4px;
  border-radius: 4px;
  font-style: italic;
  font-size: 14px;
}

.ͼ1 {
  background-color: var(--bs-border-color);
}

.cm-content {
  padding: 6px 0px!important;
}

/* You can add global styles to this file, and also import other style files */
.content {
    position: relative;
    z-index: -5;
}

.cdk-overlay-container {
  z-index: 2000;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d4d4d468;
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(163, 163, 163, 0.373);
  }
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
