.menu-wrapper{
    background-color: white;
    border-radius: 3px;
    border: solid 0.1px #80808066;
    height: 100%;
}

.nav-pills{
    background-color: white;
    color: black;
}

a{
    color: black;
}

.nav-pills .nav-link.active {
    background-color: gray;
}

.menu-item{
    overflow: hidden;
    text-overflow: ellipsis;
}