.menu-wrapper{
    background-color: var(--bs-body-bg);
    border-radius: 3px;
    border: solid 0.1px #80808066;
    height: 100%;
    overflow: auto;
}

.nav-pills{
    background-color: var(--bs-body-bg);
    color: var(--bs-emphasis-color);
}

a{
    color: var(--bs-emphasis-color);
}

.menu-item{
    overflow: hidden;
    text-overflow: ellipsis;
}

.compact-font-size {
    font-size: small;
    font-weight: 100;
} 

fa-icon {
    color: var(--bs-gray);
}

.t-custom-color {
    color: var(--bs-badge-color);;
}

.module-item {
    font-size: small;
}

.module-item, .menu-item {
    padding: 0.5rem 0.2rem 0.5rem 0.5rem!important
}

.nav-pills .nav-link.active {
    color: var(--bs-form-control-bg);
    background-color: var(--bs-success-text);
    font-weight: 400;
}

.nav-link.active fa-icon {
    color: var(--bs-form-control-bg);;
}

/* @media only screen and (max-width: 900px){
    .module-item, .menu-item {
        padding: 0.5rem 0.2rem 0.5rem 0.5rem!important
    }
} */