.menu-wrapper{
    background-color: var(--bs-body-bg);
    border-radius: 3px;
    border: solid 0.1px #80808066;
    height: 100%;
    overflow: auto;
}

.nav-pills{
    background-color: var(--bs-body-bg);
    color: var(--bs-emphasis-color);
}

a{
    color: var(--bs-emphasis-color);
}

.menu-item{
    overflow: hidden;
    text-overflow: ellipsis;
}

a.menu-item.nav-link {
    font-size: small;
} 

fa-icon {
    color: var(--bs-gray);
}
