<div *ngIf="loading">
  <eq-loading></eq-loading>
</div>

<eq-buttons-pad (_newColumn)="createColumn()" (_newRow)="createRow()"></eq-buttons-pad>
<eq-data-table #tables [mapAsUrl]="linkedFields"></eq-data-table>


<!-- Columns Customizer -->
<ng-template  #colCustomizerModal let-modal>
    <div class="m-0 modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Configurar columna</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeColumnsCustomizerModal()"></button>
        </div>
        <div class="modal-body">
          <eq-column-customizer [editColumnName]="editColumnName" [columnData]="columnData" (columnOperationEnd)="colunmOperationEnd()"></eq-column-customizer>
        </div>
      </div>
    </div>
</ng-template>

<!-- Form -->
<ng-template  #formModal let-modal>
  <div class="m-0 modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Configurar columna</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeColumnsCustomizerModal()"></button>
      </div>
      <div class="modal-body">
        <eq-form [(columns)]="columnData" [module]="module" [table]="table" (formOperationEnd)="onCreatedRow()"></eq-form>
      </div>
    </div>
  </div>
</ng-template>
