<div class="uploader-container">
    <ng-container *ngIf="!uploadButton then defaultButtonTemplate">

    </ng-container>

    <ng-template #defaultButtonTemplate>
        <ng-container [ngTemplateOutlet]="loadingSpinner"></ng-container>
        <button class="btn btn-outline-secondary" (click)="openFileExplorer($event)">
            <fa-icon [icon]="icons.upload"></fa-icon>
        </button>
    </ng-template>
</div>


<input #fileUploader type="file" id="src-file" aria-label="Archivo" [accept]="accept" style="display:none"
    [multiple]="multiple" (change)="onSelectedFile($event)">

<ng-template #loadingSpinner>
    <div *ngIf="loading">
        <eq-loading [position]="'absolute'" [size]="''"></eq-loading>
    </div>
</ng-template>